language: node_js
sudo: false
os:
  - linux
addons:
  apt:
    sources:
    - 'ubuntu-toolchain-r-test'
    packages:
    - 'g++-4.8'
install:
  - export CXX=g++-4.8
  - $CXX --version
  - npm install
node_js:
  - '6.7.0'
  - '4.6.0'
  - 'iojs'
  - '4.0'
  - '0.12'
